@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

#index {
  text-align: center;
  color: black
}
  *{
    transition: all 0.3s ease-in-out;
font-family: "Quicksand", sans-serif; }
body {
  background-image: url('https://media.istockphoto.com/id/988974116/vector/tartan-vector-seamless-patterns.jpg?s=612x612&w=0&k=20&c=zKUOCM_6R81kSKfa2wAntHfiata2GM4KyrAeyTahe8g=');
}

.container {
  text-align: center;
  background-color: rgb(99, 176, 101);
  padding: 50px;
  margin: 5%;
  height: 100vh;
  border-radius: 15px;
  box-shadow: 0 0 25px rgb(43, 81, 43)

}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  display:block;
}

ul{
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

ul li{
  border: 2px solid rgb(3, 46, 0);
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(0, 95, 6);

}

ul li:hover{
  background-color: rgb(161, 235, 161);
  color: rgb(115, 201, 118);
  transform: scale(0.9);
  box-shadow: 0 0 25px rgb(0, 0, 0);
  
}